 <div class= "sidebar">

 <div class="subtitle"><h2> <a href="/#">home</a> + <a href="/#about">about</a></h2></div>

  <div class="pageTitle"><h1>ficlist</h1></div>

<div class="contactCreateForm">


  <form class="newContact" id="newContact">

    <input class="contactName" id= "contactName" type="text" placeholder="name">

    <input class="contactBio" id="contactBio" type="text" placeholder="bio">

    <input id="contactPhotoUrl" type="text" placeholder="direct, full photo url">

    <button class="submitContact"><i class="fa fa-plus-square"></i></button>
  </form>
</div>

</div>

<ul class="contactList">
  
  {{#each contact}}

    <li class="singleContact" data-id="{{ _id }}">

    {{#if photoUrl}}

      <a href="#contact/{{ _id }}"><img src="{{ photoUrl }}"></p>{{!-- </a> --}}

      {{else}}

      <a href="#contact/{{ _id }}"><img src="assets/nophoto.png"></p></a>

    </li>

    {{/if}}
  
  {{/each}}
</ul>